@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Find your next best friend.</p>
</div>
    @*<script>
       $(function () {
        $.each([4, 9], function (index, value) {
            alert(index + ":" + value);
        });
    });
    </script>*@
